.alerta{
    padding: 0.5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error{
        background-color: $rojo;
    }

    &.exito{
        background-color: $verde;
    }
}

table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    text-align: center;
    border-collapse: collapse;

    thead{
        background-color: $verde;

        th{
            color: $blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla{
        width: 10rem;
    }

    tr{
        border-top: 1px solid $grisOscuro;

        &:first-of-type{
            border: none;
        }
    }
}

td{
    .boton-amarillo-block,
    .boton-verde{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    
        
    }
}
.icono-boton{
    width: 2rem;
    margin: 1rem;
    filter: invert(100%);

    &.editar{
        width: 2.7rem;
    }

    &.ir{
        width: 2.2rem;
    }
}

.imagen-small{
    width: 50rem;
}

.w-100{
    position: relative;

    .icono-boton{
        width: 2rem;
        margin: 1rem;
        filter: invert(100%);
        position: absolute;
        top: 0;
        right: 11rem;
        bottom: 0;
        left: 3.3rem;
        width: 2.1rem;
    }

    .boton-rojo-block{
        text-align: end;
        padding: 1.5rem 3rem;
        margin-top: 2rem;
    }
}

.elements-admin{
    .boton-verde{
        display: block;
    }
    
    @include tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .boton-verde,
        .boton-amarillo{
            margin-top: 0;
        }
    }
    

    .boton-verde{
        padding: 2rem 3rem;
    }
}